@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}



#wrapper-all {
    display: grid;
    grid-template-columns: minmax(250px, 300px) 3fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

header {
    background-color: rgb(238, 146, 146);

    grid-area: header;

    grid-row: auto auto;
}

.header-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    flex:1;

    background-image: url(./assets/svg/search_black_24dp.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 10px 50% ;

    height: 1.7rem;
    border-radius: 20px;
    background-color: rgb(214, 225, 233);
    border-width: 0;
    padding: 0 35px;
    margin: 0 50px 0 150px;
}

.profile-nav ul {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 20px 0;
}

.profile-nav ul li {
    position: relative;
}

.profile-nav ul :last-child{
    font-size: 1.2rem;
    font-weight: 600;
}

.bell-button {
    position: relative;
    top:4px;
}

.small-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.big-pfp {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;

    margin: 0 0 20px 40px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting-section {
    display: flex;
}

.greeting-name :first-child {
    font-size: 1.1rem;
    font-weight: 300;
    margin:20px 20px 0 20px;
}

.greeting-name :last-child {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 5px 20px;
}

.quick-buttons-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
}

.quick-buttons-section button {
    border-radius: 20px;
    border-width: 0;
    background-color: green;
    height: 2.5rem;
    width: 5rem;
}

.quick-buttons-section button:last-child {
    margin-right: 100px;
}




.sidebar {
    background-color: rgb(122, 122, 240);
    grid-area: sidebar;

    font-size: 1.6rem;

    /* display: grid;
    grid-template-rows: 200px 1fr 1fr; */

    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 50px;
    padding-left: 30px;
    
}

main {
    background-color: rgb(112, 189, 112);
    grid-area: main;
}