@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

html {
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#wrapper-all {
    display: grid;
    grid-template-columns: minmax(340px, 400px) 3fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
}

/* --- HEADER SECTION --- */

header {
    background-color: rgb(238, 146, 146);

    grid-area: header;

    grid-row: auto auto;
}

.header-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    flex:1;

    background-image: url(./assets/svg/search_black_24dp.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 10px 50% ;

    height: 1.7rem;
    border-radius: 20px;
    background-color: rgb(214, 225, 233);
    border-width: 0;
    padding: 0 35px;
    margin: 0 50px 0 150px;
}

.profile-nav ul {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 20px 0;
}

.profile-nav ul li {
    position: relative;
}

.profile-nav ul :last-child{
    font-size: 1.2rem;
    font-weight: 600;
}

.bell-button {
    position: relative;
    top:4px;
}

.small-pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.big-pfp {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;

    margin: 0 0 20px 40px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting-section {
    display: flex;
}

.greeting-name {
    flex-shrink: 0;
}

.greeting-name :first-child {
    font-size: 1.1rem;
    font-weight: 300;
    margin:20px 20px 0 20px;
}

.greeting-name :last-child {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 5px 20px;
}

.quick-buttons-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    margin-left: auto;
}

.quick-buttons-section button {
    border-radius: 20px;
    border-width: 0;
    background-color: green;
    height: 2.5rem;
    width: 5rem;
}

.quick-buttons-section button:last-child {
    margin-right: 100px;
}


/* --- SIDEBAR SECTION --- */

.sidebar {
    background-color: rgb(122, 122, 240);
    grid-area: sidebar;

    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;

    /* display: grid;
    grid-template-rows: 200px 1fr 1fr; */

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 30px;
    
    position: relative;
}

.sidebar div:not(.side-logo) {
    margin-left: 20px;
}

.sidebar div:not(.side-logo) div:hover {
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.452), rgba(255, 255, 255, 0));
}


.side-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 10px;

    margin-top: 50px;
}

.side-logo img {
    width: 65px;
    height: auto;
}

.side-logo h1 {
    margin: 0;

    display: inline-block;
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: normal;
    text-transform: none;

    position: relative;
    left: 3px;
    
}

.side-nav div:not(:first-child),
.settings div:not(:first-child) {
    margin-top: 20px;
}

/* --- MAIN SECTION --- */

main {
    background-color: rgb(112, 189, 112);
    grid-area: main;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 30px;
    gap: 30px;
}

.right-container {
    grid-column: 2;
}

.projects-section {
    grid-row: span 2;
}

main div h1 {
    margin: 0 0 20px 0;
    font-size: 1.5rem;
    
    font-weight: 700;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,0.75fr));
    gap: 15px;
}

.card {
    min-height: 450px;
    background-color: aliceblue;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card h2,
.card p,
.card ul {
    margin: 0 15px;
}

.card ul {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 15px;
}

.card img {
    padding: 0;
    width: 100%;
    height: auto;

    object-fit: cover;

    border-radius: inherit;
}

.announcements-section {

}



.announcements-box,
.trending-box {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 25px 25px;
}

.trending-section {
    margin-top: 40px;
}




